/*
Oskar Barcz 2017
CSS3 Framework "KK-Tournament"
Filename: style-mobile.css

Main color: 2C3E50
Accent color: E33C42
Darker than main: a72323
Div background color: EEE


https://color.adobe.com/pl/Kopi-av-KnotJustNautical-color-theme-10258715/edit/?copy=true

Main font:    'Oswald', sans-serif;
              'Roboto Slab', serif;


*/

@media (max-width: 520px) {

    .section-navigation {
        position: sticky;
        top: -5px;
        background: #DDD;
        margin: 10px auto;
        border-radius: 5px;
        height: 70px;
        font-size: 20px;
        width: 100%;
        z-index: 1000;
        box-sizing: border-box;
    }

        .section-navigation h1{
            padding: 0;
            margin: 0;
            text-align: center;
            display:block;
            margin: -4px auto;
    }

    .section-navigation-heading img
    {
        display: none;
    }

    .section-parallax
    {
        height: 500px;
    }

    .section-parallax-header {
        top: 22%;
        width: 300px;

    }
    .section-left-article-buttons a{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

.section-right-article-buttons a{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

    span.mobile-only
    {
        display: inline;
        padding: 10px;
    }

    .section-navigation ul
    {
        display: none;
    }

    .section-navigation h1
    {
        font-size: 160%;
        padding-top: 13px;
        padding-left: 5px;
    }
    .section-navigation span
    {
        font-size: 200%;
        padding-top:18px;
    }


    .section-parallax-header p,
    .section-parallax-header h2
    {
        font-size: 1.6em;
        padding: 4px;


}
/* CONFIRMATION PANEL */

.section-confirmation
{
    width: 90%;
    text-align: left;
}

/* TEAMLIST PANEL */

.section-navigation-small
{
    width: 95%;
    position: sticky;
    top: -5px;
}
.section-navigation-small img
{
    display: inline-block;
    margin-right: 0;
}

.section-teamlist-element-blue,
.section-teamlist-element-red
{
    width: 90%;
}

.section-teamlist-element-blue table,
.section-teamlist-element-red table
{
    padding-left: 10px;
}
}