/*
Oskar Barcz 2017
CSS3 Framework "KK-Tournament"
Filename: style-desktop.css

Adobe Color link: https://color.adobe.com/DB-Style-color-theme-10412252/

Background color: #2C3E50
Accent color: #E74C3C
Div background color: #ECF0F1
Div second background: #DDD
Another (blue): #3498DB
Another (darker blue): #2980B9

Main font:    'Oswald', sans-serif;
              'Roboto Slab', serif;




INDEX OF ELEMENTS IN THIS CSS FILE

1. TAGS CODE
2. REGULAR EXPRESSIONS  (classes)
3. ONE-TIME ELEMENTS (ids)
4. INPUT ELEMENTS CODE
5. COMBINED AND CONNECTED ELEMENTS CODE

*/

* {
    margin: 0;
    padding: 0;
}

body {
    background: #2C3E50;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}


/*=================Universal Elements=================*/

.container-smaller {
    box-sizing: border-box;
    display: block;
    background: #ECF0F1;
    padding: 10px;
    width: 350px;
    margin: 10px auto;
}

.container-small {
    box-sizing: border-box;
    display: block;
    background: #ECF0F1;
    padding: 10px;
    width: 450px;
    margin: 10px auto;
}

.container-big {
    box-sizing: border-box;
    display: block;
    background: #ECF0F1;
    padding: 10px;
    width: 900px;
    margin: 10px auto;
}

.logo-banner {
    font-size: 48px;
    font-weight: 800;
    box-sizing: border-box;
}

.invisible {
    display: none;
}

.link-as-button {
    display: block;
    background-color: #E74C3C;
    width: 70%;
    text-align: center;
    padding: 7px 0;
    text-decoration: none;
    color: #ECF0F1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    border-radius: 2px;
    border: #E74C3C 2px solid;
    transition: all 0.1s ease-in-out;
}

.link-as-button-disabled {
    display: block;
    background-color: #666;
    width: 70%;
    text-align: center;
    padding: 7px 0;
    text-decoration: none;
    color: #ECF0F1;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85em;
    border-radius: 2px;
    border: #666 2px solid;
    transition: all 0.1s ease-in-out;
}

.inverted {
    background-color: inherit;
    color: #E74C3C;
}

.link-as-button:hover {
    background-color: inherit;
    color: #E74C3C;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.link-as-button-disabled:hover {
    cursor: not-allowed;
}

.visible-link {
    color: #E74C3C;
    text-decoration: underline;
}

.inverted:hover {
    background-color: #E74C3C;
    color: #ECF0F1;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.section-navigation-big {
    position: sticky;
    top: 10px;
    background: #DDD;
    margin: 25px auto;
    border-radius: 5px;
    height: 70px;
    width: 725px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

span.mobile-only {
    display: none;
}

.outer-shadow {
    -webkit-box-shadow: 7px 7px 19px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 19px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 19px -2px rgba(0, 0, 0, 0.75);
}

.reversed {
    flex-direction: row-reverse;
}


/*=================Pages Elements=================*/

.section-navigation {
    position: sticky;
    top: 22px;
    background: #ECF0F1;
    margin: 50px auto;
    border-radius: 5px;
    height: 70px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.section-navigation ul {
    display: inline-flex;
    list-style-type: none;
    font-size: 28px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    padding: 9px;
}

.section-navigation li {
    margin: 7px;
}

.section-navigation li::after {
    content: "|";
    display: inline-block;
    transform: translate(6px, -3px);
}

.section-navigation li:last-of-type::after {
    content: "";
}

.section-navigation a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    transition: all 0.1s ease-in-out;
}

.section-navigation ul a:hover {
    display: inline-block;
    color: #E74C3C;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.section-navigation-heading img {
    display: inline-block;
    height: 50px;
    margin: 10px;
    transition: all 0.1s ease-in-out;
}

.section-navigation-heading img:hover {
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}

.section-navigation-heading h1 {
    display: inline-block;
    font-family: 'Permanent Marker', cursive;
    font-size: 38px;
    vertical-align: top;
    margin: 5px;
}

.section-parallax-header img {
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-parallax {
    background-image: url("../img/cms/parallax-blurred.jpg");
    height: 900px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-parallax-header {
    position: relative;
    left: auto;
    right: auto;
    top: 18%;
    width: 550px;
    height: auto;
}

.section-about {
    background: #ECF0F1;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.section-about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-about-element {
    display: block;
    width: 250px;
    min-height: 300px;
    padding: 5px;
    margin: 20px;
}

.section-about-element-text {
    text-align: justify;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.section-about-element-image {
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-about-element-image img {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    object-fit: cover;
}

.section-about-element:hover img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.section-about-element-text h2 {
    text-align: center;
}

.section-left {
    background: #DDD;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

.section-left-container {
    padding: 30px 0;
    width: 870px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.section-left-image {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-left-article {
    width: 80%;
    margin: 10px;
    text-align: justify;
}

.section-left-article-buttons {
    display: block;
    text-align: center;
}

.section-left-article-buttons a {
    width: 30%;
    display: inline-block;
    margin: 10px;
}

.section-right {
    background: #ECF0F1;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

.section-right-container {
    padding: 30px 0;
    width: 870px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.section-right-image {
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-right-article {
    width: 80%;
    margin: 10px;
    text-align: justify;
}

.section-right-article-buttons {
    display: block;
    text-align: center;
}

.section-right-article-buttons a {
    width: 30%;
    display: inline-block;
    margin: 10px;
}

.section-left-article h2,
.section-right-article h2 {
    text-align: center;
}

.section-left-image img,
.section-right-image img {
    width: 220px;
    height: 220px;
    border-radius: 110px;
    overflow: hidden;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    object-fit: cover;
}

.section-left-image img:hover,
.section-right-image img:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.section-register {
    background-image: url("../img/cms/registration-parallax-blurred.jpg");
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1300px;
}

.section-register-closed {
    background-image: url("../img/cms/registration-parallax-blurred.jpg");
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}

.section-register-container {
    padding: 20px 0;
    width: 870px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-register-form-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;
}

.section-register-form-item-middle {
    margin: 0 20px;
}

.section-register-container h2,
.section-register-closed h2 {
    color: #DDD;
    font-size: 36px;
    display: block;
    text-align: center;
}

.section-register-container h3 {
    margin-top: 20px;
    color: #DDD;
    font-size: 20px;
    display: block;
    text-align: center;
}

.section-register-container p,
.section-register-closed p {
    color: #DDD;
    display: block;
    margin-top: 10px;
    text-align: justify;
    margin: 20px;
}

.section-register-closed h2 {
    padding-top: 100px;
}

.section-contact {
    background: #ECF0F1;
    height: auto;
}

.section-contact h2 {
    text-align: center;
    padding: 10px;
    font-size: 36px;
}

.section-contact p {
    color: #000;
    display: block;
    margin-top: 10px;
    text-align: justify;
    margin: 20px;
}

.section-contact-container {
    padding: 10px 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-contact-description {
    text-align: left;
}

.section-sponsors {
    background: #DDD;
    height: auto;
    text-align: center;
    min-height: 220px;
}

.section-sponsors-container {
    padding: 10px 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-sponsors h2 {
    text-align: center;
    padding: 10px;
    font-size: 36px;
}

.section-sponsors p {
    color: #000;
    display: block;
    margin-top: 10px;
    text-align: justify;
    margin: 20px;
}

.section-sponsors-container a {
    width: 220px;
}

.section-documents {
    background: #ECF0F1;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
}

.section-documents-container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.section-documents-container h2 {
    text-align: center;
    padding: 15px;
    display: block;
    font-size: 36px;
}

.section-documents-container p {
    color: #000;
    display: block;
    text-align: justify;
    margin: 10px;
}

.section-documents-downloads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section-documents-element {
    display: block;
    width: 250px;
    min-height: 200px;
    padding: 5px;
    margin: 20px;
    justify-content: center;
}

.section-documents-element-text {
    text-align: center;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.section-documents-element span {
    font-size: 5em;
    text-align: center;
    padding: 10px;
}

.section-documents-element-text h2 {
    text-align: center;
}

.section-documents-element-text p {
    text-align: center;
}

.section-footer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 100px;
    padding: 10px;
    color: #6DBCDB;
    justify-content: space-between;
    width: 900px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.section-footer-author {
    display: inline-block;
    padding: 20px;
    margin: 5px;
}

.section-footer-author-span {
    display: inline-block;
    transform: translate(10px, -5px);
}

.section-footer-social {
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin: 5px;
}

.section-footer-social-fb {
    text-align: center;
    background-color: #3b5998;
    border-radius: 100%;
    color: #FFF;
    display: inline-block;
    padding: 15px;
    margin: 5px;
    width: 25px;
    height: 25px;
}

.section-footer-social-fb:hover {
    color: #2C3E50;
    background-color: #DDD;
    transform: scale(1.1);
    transition: 0.1s all ease-in-out;
}

.section-footer-social-mess {
    text-align: center;
    background-color: #0084ff;
    color: #FFF;
    border-radius: 100%;
    width: 25px;
    padding: 15px;
    margin: 5px;
    height: 25px;
    display: inline-block;
    transition: 0.1s all ease-in-out;
}

.section-footer-social-mess:hover {
    color: #2C3E50;
    background-color: #DDD;
    transform: scale(1.1);
    transition: 0.1s all ease-in-out;
}

.section-footer-social-ig {
    text-align: center;
    color: #FFF;
    background-color: #cd486b;
    border-radius: 100%;
    width: 25px;
    padding: 15px;
    margin: 5px;
    height: 25px;
    display: inline-block;
    transition: 0.1s all ease-in-out;
}

.section-footer-social-ig:hover {
    color: #2C3E50;
    background-color: #DDD;
    transform: scale(1.1);
    transition: 0.1s all ease-in-out;
}

.section-footer-social-up {
    text-align: center;
    color: #FFF;
    background-color: inherit;
    border-radius: 100%;
    width: 25px;
    padding: 15px;
    margin: 5px;
    height: 25px;
    display: inline-block;
    transition: 0.1s all ease-in-out;
}

.section-footer-social-up:hover {
    color: #2C3E50;
    background-color: #DDD;
    transform: scale(1.1);
    transition: 0.1s all ease-in-out;
}

.section-footer-social span {
    font-size: 1.5em;
}

.section-footer-social a {
    text-decoration: none;
}


/* CONFIRMATION */

.section-navigation-small {
    position: sticky;
    top: 10px;
    background: #DDD;
    margin: 25px auto;
    border-radius: 5px;
    height: 70px;
    width: 525px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.section-navigation-small .section-navigation-heading {
    margin: 0 auto;
}

.section-confirmation {
    height: auto;
}

.section-confirmation table {
    text-align: left;
}

.section-confirmation h2 {
    text-align: center;
}

.section-confirmation p {
    text-align: justify;
}

.section-confirmation-details {
    text-align: center;
}

.really-important-info {
    color: #E74C3C;
    font-weight: bold;
    padding-left: 20px;
}


/* TEAMLIST PANEL */

.section-teamlist-element-red {
    margin: 20px auto;
    height: auto;
    text-align: left;
    border-top: 10px #E74C3C solid;
}

.section-teamlist-element-blue {
    margin: 20px auto;
    height: auto;
    text-align: left;
    border-top: 10px #6DBCDB solid;
}

.section-navigation-small img {
    display: inline-block;
}

.section-teamlist-element-blue h2,
.section-teamlist-element-red h2 {
    text-align: center;
}

.section-teamlist-element-blue table,
.section-teamlist-element-red table {
    padding-left: 30px;
}

.section-teamlist-element-red td {
    width: 40%;
}


/* ARTICLES */

.article {
    font-family: 'Montserrat', sans-serif;
    display: block;
    background: #DDD;
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    box-sizing: border-box;
    text-align: justify;
    border-top: #E74C3C solid 10px;
    margin-bottom: 50px;
}

.article-author {
    font-size: 20px;
    padding: 30px 30px 0 30px;
    color: #2C3E50;
}

.article-author:before {
    content: "Autor: ";
    color: #888;
}

.article-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.article-bottom .link-as-button {
    width: 40%;
}

.article-data {
    font-size: 14px;
    padding: 0 30px;
    color: #2C3E50;
}

.article-data:before {
    content: "Data: ";
    color: #888;
}

.article h2 {
    padding: 0 10px;
    font-size: 40px;
    text-align: left;
}

.article h3 {
    padding-top: 20px;
    padding: 5px;
    font-size: 20px;
}

.article h4 {
    padding-top: 20px;
    padding: 5px;
}

.article h4:before {
    content: ">>";
    font-weight: 800;
}

.article p {
    text-indent: 40px;
    padding-top: 20px;
    text-align: justify;
}

.article ul li,
.article ol li {
    padding-top: 10px;
}

#map {
    position: relative;
    width: 100%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

;