body {
    background: #F8F8F8;
    color: #444444;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.main-info {
    padding: 40px;
}

.bottom-navigation {
    margin-top: calc(80vh - 200px);
    .divider {
        color: #444444;
        margin: 30px;
    }
}

.code {
    background: #E8E8E8;
    border: 2px #E8E8E8 solid;
    border-radius: 3px;
    color: indianred;
    font-style: italic;
    padding: 2px 5px;
    user-select: none;

}