/*
 Material Icons
 */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/MaterialFont/MaterialIcons-Regular.eot"); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("/fonts/MaterialFont/MaterialIcons-Regular.woff2") format('woff2'),
    url("/fonts/MaterialFont/MaterialIcons-Regular.woff") format('woff'),
    url("/fonts/MaterialFont/MaterialIcons-Regular.ttf") format('truetype');
}
